* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.nav-bar-cell:hover{
  color: rgb(165, 160, 160);
}

.project-cell {
  border-width: 1px;
  border-color: black;
  border-style: solid;
}

.page-body {
  background-color: #f5f5f5;
  grid-area: page-body;
  text-align: left;
  vertical-align: top;
  padding-right: 1%;
}

.blank-div {
  background-color: #f5f5f5;
  grid-area: blank-div;
}

.app-header {
  background-color: #f5f5f5;
  grid-area: app-header;
  padding: 1% 0%;
  text-align: left;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 32px;
}

@media screen and (min-width: 501px) {
  .nav-bar {
    background-color: #f5f5f5;
    grid-area: nav-bar;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  .nav-bar-cell {
    padding-left: 20%;
    margin-bottom: 20%;
    color: black;
    transition: 0.3s;
  }

  .project-div-grid {
    display: grid;
    grid-template-columns: 0.33fr 0.33fr 0.33fr;
    gap: 10px 10px;
    padding-bottom: 1%;
  }
  
  .App {
    background-color: #f5f5f5;
    height: 100vh;
    display: grid;
    grid-template-columns: 0.3fr 1.5fr 1fr;
    grid-template-rows: 0.4fr 1.6fr 1fr;
    gap: 10px 0px;
    grid-template-areas:
      "blank-div app-header app-header"
      "nav-bar page-body page-body"
      "nav-bar page-body page-body";
  }
}

@media screen and (max-width: 500px) {
  .app-header {
    padding-left: 2%;
  }
  
  .nav-bar {
    background-color: #f5f5f5;
    grid-area: nav-bar;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 2%;
  }

  .nav-bar-cell {
    padding-right: 20%;
    color: black;
    transition: 0.3s;
  }

  .project-div-grid {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    gap: 10px;
    padding-bottom: 1%;
  }

  .page-body { 
    padding-left: 2%;
  }
  
  .App {
    background-color: #f5f5f5;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr 19fr;
    gap: 0px 0px;
    grid-template-areas:
      "app-header"
      "nav-bar"
      "page-body";
  }
}